form .form-test {
    position: relative;
    display: block;
    background-color: #53565A;
    padding: 180px;
    z-index: 2;
}

form .form-test h2 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-test .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-test .form-group label {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-test .form-group:focus-within label {
    color: #bf85fa;
}

form .form-test .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-test .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-test input[type="submit"], .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #8000FF 50%, #8000FF 50%, #2EFEF7);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

form .form-test input[type="submit"]:hover, .welcome button:hover {
    background-position: 100% 0%;
}
